## ETAPA 2: TRABAJO EN VARIABLES EXPLICATIVAS

In [1]:
# Dependencias básicas
import pandas as pd
import numpy as np

# Dependencias de visualización
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt

In [2]:
df = pd.read_excel("../9 - Libertad de expesion y otros/IDEA-GSOD.xlsx")

In [3]:
df

,Economy ISO3,Economy Name,Indicator ID,Indicator,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AFG,Afghanistan,IDEA.GSOD.abs_corrupt_est,Absence of Corruption (highest score=1),0.20,0.20,0.16,0.16,0.18,0.21,0.22,0.24,0.24,0.25,0.26,0.25,0.28,0.52,0.46
1,AFG,Afghanistan,IDEA.GSOD.access_just_est,Access to Justice (highest score=1),0.25,0.25,0.25,0.25,0.24,0.23,0.23,0.23,0.23,0.25,0.22,0.24,0.28,0.24,0.18
2,AFG,Afghanistan,IDEA.GSOD.basic_welf_est,Basic Welfare (highest score=1),0.31,0.31,0.34,0.34,0.34,0.34,0.37,0.37,0.36,0.36,0.37,0.39,0.39,0.38,0.38
3,AFG,Afghanistan,IDEA.GSOD.civic_engage_est,Civic Engagement (highest score=1),0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.43
4,AFG,Afghanistan,IDEA.GSOD.civil_lib_est,Civil Liberties (highest score=1),0.54,0.53,0.53,0.53,0.53,0.51,0.50,0.51,0.50,0.50,0.50,0.50,0.52,0.34,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29552,ZWE,Zimbabwe,IDEA.GSOD.v_42_02,Engagement in independent political associatio...,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.73,0.61
29553,ZWE,Zimbabwe,IDEA.GSOD.v_42_03,Engagement in independent trade unions (highes...,0.70,0.70,0.68,0.65,0.61,0.61,0.57,0.57,0.57,0.57,0.57,0.57,0.59,0.64,0.50
29554,ZWE,Zimbabwe,IDEA.GSOD.v_42_04,Civil society traditions (highest score=1),0.56,0.56,0.67,0.67,0.67,0.67,0.56,0.56,0.56,0.56,0.56,0.56,0.56,0.56,0.56
29555,ZWE,Zimbabwe,IDEA.GSOD.v_43_01,Voter turnout (highest score=1),0.46,0.46,0.46,0.46,0.46,0.61,0.61,0.61,0.61,0.61,0.64,0.64,0.64,0.64,0.64
29556,ZWE,Zimbabwe,IDEA.GSOD.v_43_02,Electoral regime index (highest score=1),1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [4]:
# Eliminamos columna de identificación por código
df = df.drop("Indicator ID", axis = 1)

In [5]:
# Comprobamos columnas
df

,Economy ISO3,Economy Name,Indicator,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AFG,Afghanistan,Absence of Corruption (highest score=1),0.20,0.20,0.16,0.16,0.18,0.21,0.22,0.24,0.24,0.25,0.26,0.25,0.28,0.52,0.46
1,AFG,Afghanistan,Access to Justice (highest score=1),0.25,0.25,0.25,0.25,0.24,0.23,0.23,0.23,0.23,0.25,0.22,0.24,0.28,0.24,0.18
2,AFG,Afghanistan,Basic Welfare (highest score=1),0.31,0.31,0.34,0.34,0.34,0.34,0.37,0.37,0.36,0.36,0.37,0.39,0.39,0.38,0.38
3,AFG,Afghanistan,Civic Engagement (highest score=1),0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.52,0.43
4,AFG,Afghanistan,Civil Liberties (highest score=1),0.54,0.53,0.53,0.53,0.53,0.51,0.50,0.51,0.50,0.50,0.50,0.50,0.52,0.34,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29552,ZWE,Zimbabwe,Engagement in independent political associatio...,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.73,0.61
29553,ZWE,Zimbabwe,Engagement in independent trade unions (highes...,0.70,0.70,0.68,0.65,0.61,0.61,0.57,0.57,0.57,0.57,0.57,0.57,0.59,0.64,0.50
29554,ZWE,Zimbabwe,Civil society traditions (highest score=1),0.56,0.56,0.67,0.67,0.67,0.67,0.56,0.56,0.56,0.56,0.56,0.56,0.56,0.56,0.56
29555,ZWE,Zimbabwe,Voter turnout (highest score=1),0.46,0.46,0.46,0.46,0.46,0.61,0.61,0.61,0.61,0.61,0.64,0.64,0.64,0.64,0.64
29556,ZWE,Zimbabwe,Electoral regime index (highest score=1),1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [6]:
# Identificamos cadena de texto innecesaria para nuestro análisis
text = "(highest score=1)"

In [7]:
# Comprobamos existencia de la cadena de texto en todas las celdas
# de la columna "Indicator"
df["Indicator"].str.contains(text).sum()

C:\Users\erick\AppData\Local\Temp\ipykernel_22512\3501628022.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df["Indicator"].str.contains(text).sum()

29557

In [8]:
# Eliminamos cadena de texto innecesaria
df["Indicator"] = df["Indicator"].map(lambda x: x.rstrip(text))

In [9]:
# Inspeccionamos nombre de variables, observamos que las
# cadenas de texto están incompletas
df["Indicator"].unique()

array(['Absence of Corruption', 'Access to Ju', 'Basic Welfa',
       'Civic Engagemen', 'Civil Lib', 'Credible Election',
       'Direct Democracy', 'Effective Parliamen',
       'Electoral Participation', 'Elected Governmen',
       'Freedom of Expression', 'Freedom of Movemen', 'Free Political Pa',
       'Freedom of the P', 'Freedom of Religion', 'Gender Equality',
       'Inclusive Suffra', 'Judicial Independen', 'Local Democracy',
       'Participation', 'Personal Integrity and Security',
       'Political Equality', 'Predictable Enforcemen', 'Representation',
       'R', 'Rule of Law', 'Social Group Equality', 'Direct democracy',
       'EMB autonomy', 'EMB capacity', 'Election other voting irregula',
       'Election government intimidation', 'Election free and fa',
       'Competition', 'Global State of Democracy - A3 Electoral p',
       'Global State of Democracy - B2 Political pluralism and participation',
       'Global State of Democracy - B3 Political pluralism and participation',
       'Free and fair election', 'Inclusive suffra',
       'Election voter registry', 'Party ban', 'Barriers to pa',
       "Opposition parties' autonomy", 'Elections multiparty',
       'Competitiveness of participation', 'Multiparty election',
       'Global State of Democracy - B1 Political pluralism and participation',
       'Party system', 'Elected executive index',
       'Competitiveness of executive recruitmen',
       'Openness of executive recruitmen', 'Electoral',
       'Global State of Democracy - A1 Electoral p',
       'Global State of Democracy - A2 Electoral p',
       'Global State of Democracy - C1 Functioning of governmen',
       'Lexical index of electoral democracy',
       'Legislature questions officials in pra', 'Executive ov',
       'Legislature investigates in pra', 'Legislature opposition pa',
       'Executive constrain', 'Local government index',
       'Subnational elections free and fa', 'Access to justice for men',
       'Access to justice for women', 'Judicial corruption decision',
       'Judicial accountability', 'Fair trial',
       'Global State of Democracy - F2 Rule of law', 'Civil',
       'Freedom of discussion for women', 'Freedom of discussion for men',
       'Freedom of academic and cultural expression',
       'Freedom of opinion and expression', 'Freedom of speech and p',
       'Global State of Democracy - D3 Freedom of expression and belief',
       'Global State of Democracy - D4 Freedom of expression and belief',
       'Freedom of expression', 'Print/broadcast censorship eff',
       'Harassment of journal', 'Media self-censorship',
       'Critical Print/broadcast media',
       'Print/broadcast media perspectiv', 'Media bia', 'Media freedom',
       'Global State of Democracy - D1 Freedom of expression and belief',
       'CSO entry and ex', 'CSO repression',
       'Freedom of peaceful assembly',
       'Freedom of assembly and association', "Workers'",
       'Global State of Democracy - E1 Associational and organizational',
       'Global State of Democracy - E2 Associational and organizational',
       'Global State of Democracy - E3 Associational and organizational',
       'Association/ assembly', 'Freedom of religion',
       'Religious organization repression',
       'Freedom of thought, conscience and religion',
       'Global State of Democracy - D2 Freedom of expression and belief',
       'Freedom of foreign movemen',
       'Freedom of domestic movement for women',
       'Freedom of domestic movement for men',
       'Freedom of movement and residen', 'Freedom of domestic movemen',
       'G1 Personal autonomy and individual', 'Infant mortality ra',
       'Life expectancy', 'Kilocalories per person per day', 'Literacy',
       'Mean years of schoolin', 'Educational equality',
       'Health equality',
       'Social class equality in respect for civil lib',
       'Social group equality in respect for civil lib',
       'Power distributed by socio-economic position',
       'Power distributed by social group',
       'Power distributed by sexual orientation',
       'Exclusion by socio-economic group',
       'Exclusion by political group', 'Exclusion by social group',
       'Exclusion by urban-rural location',
       'Global State of Democracy - B4 Political pluralism and participation',
       'Global State of Democracy - F4 Rule of law', 'Equal opportunity',
       "CSO women's participation",
       'Female vs. male mean years of schoolin',
       'Lower chamber female legisla', 'Exclusion by gend',
       "Women's political", "Women's econom", 'Political empowermen',
       'High Court independen', 'Lower court independen',
       'Compliance with High Cou', 'Compliance with judiciary',
       'Independent judiciary',
       'Global State of Democracy - F1 Rule of law', 'Separation of pow',
       'Public sector corrupt exchan', 'Public sector thef',
       'Executive embezzlement and thef',
       'Executive bribery and corrupt exchan',
       'Global State of Democracy - C2 Functioning of governmen',
       'Prosecution of office abu', 'Executive respects constitution',
       'Transparent laws with predictable enforcemen',
       'Rigorous and impartial public administration',
       'Criteria for appointment decisions in the armed f',
       'Global State of Democracy - C3 Functioning of Governmen',
       'Monopoly on the use of f', 'Basic administration',
       'Freedom from tortu', 'Freedom from political killin',
       'Political terror scal', 'Physical integrity rights sum',
       'G4 Personal autonomy and individual',
       'Global State of Democracy - F3 Rule of law',
       'CSO participatory environmen', 'Engaged society',
       'CSO consultation', 'E-participation index', 'Interest group',
       'Social capital',
       'Engagement in independent non-political association',
       'Engagement in independent political association',
       'Engagement in independent trade union', 'Civil society tradition',
       'Voter turnou', 'Electoral regime index', 'Obstacles to a',
       'Limits on conten', 'violations of u'], dtype=object)

In [10]:
# Preparamos dataset para transponerlo (información de origen horizontal)
seleccion = df[
    [
        'Economy ISO3', 'Indicator', '2008', '2009', '2010', '2011', '2012',
        '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
        '2021', '2022'
    ]
]

In [11]:
# Copia de seguridad para nuestro dataframe
df1 = df.copy()

In [12]:
# Creamos dataframe con ayuda de pd.melt
# Omitimos columna de nombre de países
df2 = pd.melt(
    seleccion,
    id_vars=["Economy ISO3", "Indicator"],
    var_name="Year",
    value_name="Value"
)

In [13]:
# Comprobamos dataframe vertical
df2

,Economy ISO3,Indicator,Year,Value
0,AFG,Absence of Corruption,2008,0.20
1,AFG,Access to Ju,2008,0.25
2,AFG,Basic Welfa,2008,0.31
3,AFG,Civic Engagemen,2008,0.52
4,AFG,Civil Lib,2008,0.54
...,...,...,...,...
443350,ZWE,Engagement in independent political association,2022,0.61
443351,ZWE,Engagement in independent trade union,2022,0.50
443352,ZWE,Civil society tradition,2022,0.56
443353,ZWE,Voter turnou,2022,0.64
443354,ZWE,Electoral regime index,2022,1.00

In [21]:
# Cambiamos nombre de columna para mayor facilidad
df2.rename(columns={"Economy ISO3": "Country code"}, inplace = True)

In [42]:
# Cambiamos tipo de datos
df2.Year = df2.Year.astype("int")
df2.Value = df2.Value.astype("float")

In [43]:
df2

,Country code,Indicator,Year,Value
0,AFG,Absence of Corruption,2008,0.20
1,AFG,Access to Ju,2008,0.25
2,AFG,Basic Welfa,2008,0.31
3,AFG,Civic Engagemen,2008,0.52
4,AFG,Civil Lib,2008,0.54
...,...,...,...,...
443350,ZWE,Engagement in independent political association,2022,0.61
443351,ZWE,Engagement in independent trade union,2022,0.50
443352,ZWE,Civil society tradition,2022,0.56
443353,ZWE,Voter turnou,2022,0.64
443354,ZWE,Electoral regime index,2022,1.00

In [44]:
# Ejemplo de slices
# Opposition parties' autonomy
df2.loc[(df2["Indicator"] == "Opposition parties' autonomy") & (df2["Country code"] == "VEN")]

       Country code                     Indicator  Year  Value
28224           VEN  Opposition parties' autonomy  2008   0.75
57781           VEN  Opposition parties' autonomy  2009   0.75
87338           VEN  Opposition parties' autonomy  2010   0.75
116895          VEN  Opposition parties' autonomy  2011   0.75
146452          VEN  Opposition parties' autonomy  2012   0.75
176009          VEN  Opposition parties' autonomy  2013   0.75
205566          VEN  Opposition parties' autonomy  2014   0.75
235123          VEN  Opposition parties' autonomy  2015   0.75
264680          VEN  Opposition parties' autonomy  2016   0.75
294237          VEN  Opposition parties' autonomy  2017   0.75
323794          VEN  Opposition parties' autonomy  2018   0.75
353351          VEN  Opposition parties' autonomy  2019   0.75
382908          VEN  Opposition parties' autonomy  2020   0.50
412465          VEN  Opposition parties' autonomy  2021   0.75
442022          VEN  Opposition parties' autonomy  2022   0.50

In [45]:
# Civil liberty
df2.loc[(df2["Indicator"] == "Civil Lib") & (df2["Country code"] == "VEN")]

       Country code  Indicator  Year  Value
28186           VEN  Civil Lib  2008   0.51
57743           VEN  Civil Lib  2009   0.51
87300           VEN  Civil Lib  2010   0.53
116857          VEN  Civil Lib  2011   0.53
146414          VEN  Civil Lib  2012   0.51
175971          VEN  Civil Lib  2013   0.48
205528          VEN  Civil Lib  2014   0.45
235085          VEN  Civil Lib  2015   0.43
264642          VEN  Civil Lib  2016   0.43
294199          VEN  Civil Lib  2017   0.40
323756          VEN  Civil Lib  2018   0.39
353313          VEN  Civil Lib  2019   0.37
382870          VEN  Civil Lib  2020   0.37
412427          VEN  Civil Lib  2021   0.37
441984          VEN  Civil Lib  2022   0.37

In [47]:
# Opposition parties' autonomy por año 2022
df2.loc[(df2["Indicator"] == "Opposition parties' autonomy") & (df2["Year"] == 2022)]

       Country code                     Indicator  Year  Value
413840          AFG  Opposition parties' autonomy  2022   0.00
414013          AGO  Opposition parties' autonomy  2022   0.75
414188          ALB  Opposition parties' autonomy  2022   0.75
414361          ARE  Opposition parties' autonomy  2022   0.00
414536          ARG  Opposition parties' autonomy  2022   1.00
...             ...                           ...   ...    ...
442528          XKX  Opposition parties' autonomy  2022   1.00
442696          YEM  Opposition parties' autonomy  2022   0.50
442869          ZAF  Opposition parties' autonomy  2022   0.75
443045          ZMB  Opposition parties' autonomy  2022   0.75
443221          ZWE  Opposition parties' autonomy  2022   0.75

[171 rows x 4 columns]

In [55]:
# Países top en inmigración a España en 2022, según archivo trabajo 24287
paises_2022 =  ['ESP','ITA','ROU','GBR', 'UKR', 'RUS', 'MAR', 'HND', 'ARG', 'BRA', 'COL', 'PRY', 'PER', 'VEN']

In [56]:
df3 = df2.loc[df2["Country code"].isin(paises_2022)]

In [57]:
df3

,Country code,Indicator,Year,Value
696,ARG,Absence of Corruption,2008,0.51
697,ARG,Access to Ju,2008,0.53
698,ARG,Basic Welfa,2008,0.62
699,ARG,Civic Engagemen,2008,0.80
700,ARG,Civil Lib,2008,0.80
...,...,...,...,...
442151,VEN,Engagement in independent political association,2022,0.59
442152,VEN,Engagement in independent trade union,2022,0.49
442153,VEN,Civil society tradition,2022,0.44
442154,VEN,Voter turnou,2022,0.30
442155,VEN,Electoral regime index,2022,1.00